// Style reset
@import '@/assets/styles/partials/reset.scss';

* {
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  color: $col-dark;
  background-color: $col-white;
  width: 100%;
  height: 100%;
}
